<div class="sidebar-container box-shadow">
    <h1>Topics</h1>
    <nav class="main-menu">
        <ul class="sidebar-list">
        
        <li>                                   
            <a href="{% url 'home' %}">
                <span class="nav-text">All</span>
            </a>
        </li>     
        {% for topic in topics %}   
        <li>                                   
            <a href="{% url 'home' %}?q={{topic.name}}">
                <span class="nav-text">{{ topic.name }}</span>
            </a>
        </li>     
        {% endfor %}

        </ul>
    </nav>
 </div>