{% extends 'main.html' %}
{% block title %}Verify delete{% endblock title %}
{% block content %}

<div class=" pd-10 mg-top max-width-300">
    <h3 class="mg-bottom">Are you sure?</h3>
    <p>Are you sure you want to delete the articles <strong>"{{ article.title }}"?</strong> All of the following related items will be deleted</p>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="d-flex mg-top">
            <a href="{{ request.META.HTTP_REFERER }}" class="regular-btn bg-secondary">No, go back</a>
            <button type="submit" class="regular-btn bg-red mg-left">Yes, I'm</button>
        </div>
    </form>
</div>


{% endblock content %}